body {
  background-color: hsl(212, 45%, 89%);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: stretch;
  margin: auto auto;
}
.main {
  margin: 15rem 40rem;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 27rem;
  height: 45rem;
  padding: 1.5rem 0.5rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-image,
.qrcode {
  background-color: hsl(211, 92%, 54%);
  width: 25rem;
  height: 25rem;
  border-radius: 1.5rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.card-image-content {
}

.card-text {
  text-align: center;
  margin: 1.2rem 2rem;
}
#card-header {
  font-size: 2.1rem;
  color: hsl(218, 44%, 22%);
  margin: 1rem;
}
#card-paragraph {
  color: hsl(211, 7%, 67%);
  font-size: 1.5rem;
}
.attribution {
  text-align: center;
}
